.header {
    position: sticky;
    top:0;
    /*backdrop-filter: blur(10px);*/
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, transparent 100%);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: 80px;
    
}

.nombre h2 {
    padding: 0;
    margin: 0;
}

.nombre h1 {
    padding: 0;
    margin: 0;
    font-size:  bold 95px/153.71px;
}

.nombre p {
    padding: 0;
    margin: 0;
}